body {
  background-image: url("https://github.com/RyanKirkland86/portfolio2/blob/main/assets/Images/shot-stash-abstract-shape-pattern-background-9.jpg?raw=true");
  background-size: cover;
  background-position: 50%;
}